name: Build DMG

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: gradle

    - name: Make gradlew executable
      run: chmod +x gradlew

    - name: Ensure icns script is executable
      run: chmod +x scripts/create_icns.sh

    - name: Generate ICNS icon
      run: ./scripts/create_icns.sh src/main/resources/dev/perillo/serversmith/app-icon.png src/main/resources/dev/perillo/serversmith/app-icon.icns

    - name: Build with Gradle
      run: ./gradlew jpackage

    - name: Upload DMG Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ServerSmith-DMG
        path: build/dist/*.dmg
        if-no-files-found: error
