name: Build and Release

on:
  push:
    branches: [ "main" ]
    tags:
      - 'v*'
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: gradle

    - name: Make scripts executable
      run: |
        chmod +x gradlew
        chmod +x scripts/create_icns.sh

    - name: Generate ICNS icon
      run: ./scripts/create_icns.sh src/main/resources/dev/perillo/serversmith/app-icon.png src/main/resources/dev/perillo/serversmith/app-icon.icns

    - name: Build with Gradle
      run: ./gradlew jpackage

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ServerSmith-DMG
        path: build/dist/*.dmg

    - name: Create Release
      if: startsWith(github.ref, 'refs/tags/v')
      uses: softprops/action-gh-release@v2
      with:
        files: build/dist/*.dmg
        draft: false
        prerelease: false
        generate_release_notes: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
